* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #111;
}

#game-wrapper {
  position: relative;
  line-height: 0;
}

#game {
  display: block;
  background: #000;
  border: 2px solid #444;
}
